:root {
    --color-primary-darkest: #213D57;  /* Deep Navy */
    --color-primary-darker:  #334C64;  /* Dark Slate */
    --color-primary:         #475F76;  /* Slate */
    --color-light:           #C6D1D8;  /* Light Gray-Blue */
    --color-button-blue:     #2BA9FC;  /* Light Baby Blue */

    background-color: var(--color-primary);
    color: #d9ddde;
}

body {
    font-family: 'Open Sans', sans-serif; /* Open Sans is the primary font, sans-serif is the fallback */
}

.card {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 10rem;
    height: auto;
    padding: 1rem 1rem 1rem 1rem;
}

.thumbnail-image {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
}

.website-title {
    all: unset;
}

.website-title:hover {
    cursor: pointer;
}

.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}